.add-button{
    position: fixed; /*El boton queda "flotante" encima del contenido*/

    bottom: 30px; /*Desde abajo*/

    right: 40px; /*Desde la derecha*/

    background-color: rgb(2, 78, 2); /*Color de fondo del boton*/

    color: white; /*Color deñl icono*/

    border-radius: 50%; /*Hacemos redondo el boton*/
    
    width: 70px; 
    height: 70px; /*Tamaño del boton para que quede simetrico*/

    border: none; /*Quitar bordes por defecto*/

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5) ; /* Sombra del boton*/

    display: flex; /*Activamos flexbox*/

    justify-content: center; /*Alineacion horizontal*/

    align-items: center; /*Alineacion vertical*/

    z-index: 1001; /*Para que le boton quede encima de todo*/

    transition: transform 0.4s; /*Duracion de la animacion*/
}


.add-button:hover{
    transform: scale(1.2); /*El boton se hace 1.2 veces mas grande*/
}

.tabla-scroll{
    overflow-x: auto; /*Scroll horizontal*/
}

button{
    margin: 1px; /*Separacion entre los botone*/
}